.axis {
    font-size: 12px;
    font-family: sans-serif;
}

.legend-text {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.label-text {
    font-size: 25px;
    font-family: sans-serif;
}

.option {
    display: block;
    position:absolute;
	top:10px;
	left:10px;
}

.line {
    fill: none;
    stroke-width: 2;
}

.dot {
    /*stroke: white;*/
    /*stroke-width: 0.5;*/
}

.bar {
    fill: rgb(33,150,243);
}
